name: Test Run

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      groups:
        type: choice
        description: "Які групи запускати?"
        required: false
        default: all
        options:
          - all
          - smoke
          - sanity
          - smoke,sanity

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
        run: |
          TEST_GROUPS="${{ github.event.inputs.groups }}"
          if [ -n "$TEST_GROUPS" ] && [ "$TEST_GROUPS" != "all" ]; then
            echo "Running TestNG groups: $TEST_GROUPS"
            ./gradlew clean test -Dgroups="$TEST_GROUPS"
          else
            echo "Running all tests"
            ./gradlew clean test
          fi

      - name: Generate Allure Report
        run: ./gradlew allureReport

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/allure-report/allureReport
          force_orphan: true